.profile__edit-button {
  height: 24px;
  width: 24px;
  margin-left: 18px;
  margin-bottom: 9px;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
  align-self: flex-end;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 650px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-top: 8px;
    margin-left: 10px;
  }
}
