.popup__save {
  margin-top: 18px;
  min-width: 358px;
  min-height: 50px;
  background: #000000;
  color: #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px){
  .popup__save {
      margin-top: 15px;
      min-width: 238px;
      min-height: 46px;
      font-size: 14px;
      line-height: 17px;
  }
}