.header {
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 40px;
  display: flex;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 39px;
}


@media screen and (max-width: 900px) {
  .header {
    width: 600px;
    margin-top: 28px;
    padding-bottom: 31px;
    padding-top: 27px;
  }
}

@media screen and (max-width: 650px){
  .header {
    max-width: 320px;
    margin-top: 28px;
    margin-bottom: 42px;
  }
}