.profile__title {
  margin: 0 auto;
  padding: 0;
  max-width: 294px;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}