.profile__add-button {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.png);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background-size: 22px 22px;
  color: #fff;
  align-self: center;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    margin: 0;
    width: 282px;
  }
}
