.profile__description {
  margin: 0 auto;
  margin-top: 8px;
  max-width: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  .profile__description {
    max-width: 282px;
    margin-top: 12px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}